/* ==========================================================================
   POST CARD HOVER
========================================================================== */

.post--item {
    cursor: pointer;
  }
  
  /* Empêche l’image zoomée de dépasser */
  .post--image-wrapper {
    position: relative;
    overflow: hidden;
  }
  
  /* Image principale uniquement */
  .post--image-wrapper > img {
    display: block;
    transform-origin: center center;
    will-change: transform;
  }
  
  /* Lien contenant "Voir le post" */
  .post--text > a.inline-block {
    will-change: transform;
  }